.winner {
	color:green;
}
.loser {
	color: red;
}
div{
	border: 10px solid black;
	outline-style: solid;
    outline-color: green;
    margin: auto;    
    padding: 20px;
    text-align: center;
    width:50%;
    background-color: #66ffd9;

    margin: 0 auto;  

    width: 50%;
    height: 50%;

}
h1{
	font-size: 350%;
}
body{
	background-color: #00cc99;
}